<% if current_user.admin? %>
<section class="options-block" style="background-color: #D32323;">
  <br>
  <p><a class="options-url" href=<%= new_business_path %>><button class="options-btn"  >Add A Business</button></a></p>
</section>

<% end %>
