<% if current_user.admin? %>
<section class="options-block" style="background-color: #c4c4c4;">
  <br>
  <p><a class="options-url" href=<%= new_business_path %>><button class="options-btn" style="background-color: #313131; color:#F5F5F5;">Add A Business</button></a></p>
</section>

<% end %>
