<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="businesses.scss">
    </style>
  </head>
  <body>

    <section class="top-block">
      <div>
        <h1>Your Next Review Awaits</h1>
        <p>Review your local businesses.</p>
      </div>
    </section>

    <h2 class="business-header">See the business you'd like to review?</h2>

    <%= render 'business_list' %>

    <%= render 'add_business_btn' %>

    <div class="push"></div>

  </body>
</html>
