<div>
  <p><Button id="facebook" class="block-btn" type="button"><strong>Continue with Facebook</strong></button></p>
  <p><Button id="google" class="block-btn" type="button"><strong>Continue with Google</strong></button></p>
  <p><Button id="apple" class="block-btn" type="button"><strong>Continue with Apple</strong></button></p>

  <p>Try <%= link_to 'the GitHub strategy', '/auth/github'%>.</p>

  <!-- HTTPS required -->
  <p>Try <%= link_to 'the Facebook strategy', '/auth/google_oauth2'%>.</p>
  <p>Try <%= link_to 'the Google strategy', '/auth/google_oauth2'%>.</p>

</div>

<p> --------- or --------- </p>
