<div>
  <p><Button id="facebook" class="block" type="button"><strong>Continue with Facebook</strong></button></p>
  <p><Button id="google" class="block" type="button"><strong>Continue with Google</strong></button></p>
  <p><Button id="apple" class="block" type="button"><strong>Continue with Apple</strong></button></p>
</div>
<p>or</p>
