<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="customers.scss">
    </style>
  </head>
  <body>

    <section class="top-block">
      <div>
        <h1>Something's changed?</h1>
        <p> Edit your profile, <%= @customer.name %>. </p>
      </div>
    </section>

    <%= render 'edit' %>

    <div class="push"></div>

  </body>
</html>
