<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="customers.scss">
    </style>
  </head>
<body class="columns-align">

  <div class="row">
    <div class="column">

      <h2 class="session-header">Sign Up for Reviewer</h2>
      <h4>Connect with great local businesses</h4>

      <%= render 'session/btns' %>

      <p style="color:red;"><em><%= flash[:message] if flash[:message] %></em></p>

        <%= render 'form' %>

      <!-- May delete city and state option, "complete profile" page -->

    </div>
    <div class="column">
      <br>
      <p><img src="https://s3-media0.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png"></p>
    </div>
    </div>

</body>
</html>
