<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="customers.scss">
    </style>
  </head>
  <body class="columns-align">
    <div class="row">

      <container class="column-1">
        <div>
          <h2 class="session-header">Sign Up for Karl</h2>
          <h4>Connect with great local businesses</h4>

          <%= render 'session/btns' %>

          <p class="field-with-errors"><%= flash[:message] if flash[:message] %></p>

          <%= render 'form' %>

        </div>
      </container>

      <container class="column-2">
        <div><br>
          <p><img src="https://s3-media0.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png"></p>
        </div>
      </container>

    </div>

    <div class="push"></div>

  </body>
</html>
