<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="static.scss">
    </style>
  </head>
  <body>

    <div>
      <ul>
        <li><a class="navbar-brand" href="http://127.0.0.1:3000">Home</a></li>
        <li><a class="navbar-brand" href="/signup">Sign Up</a></li>
        <li><a class="navbar-brand" href="/login">Log in</a></li>
      </ul>

      <h1 id=home>Reviewer</h1>
    </div>

  </body>
</html>
