/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* format */
 * {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
  .top-block {
    padding: 40px;
    background-color: #F5F5F5;
    height: 200px;
  }
  .division {
    border-radius: 25px;
    border: 2px solid #191919;
    padding: 20px;
    height: 175px;
  }

  /* nav bar */
  .topnav {
    overflow: hidden;
    background-color: #D32323;
  }
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #a81c1c;
    color: white;
  }
  .topnav a:visited {
    color: white;
  }
  .topnav a.=:active {
    background-color: #4CAF50;
    color: white;
  }

 /* entry */
 h2.session-header {
   color: #D32323;
 }
 * {
   box-sizing: border-box;
 }
 .column-1, .column-2 {
   float: left;
   width: 50%;
   padding: 100px;
   height: 1000px;
   text-align: center;
 }
 .column-1 div {
   width:400px;
   max-width:500px;
   display: inline-block;
 }
 .column-2 div {
   width:400px;
   max-width:500px;
   display: inline-block;
 }
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

/* links */
a:link{
  color: #191919;
  text-decoration: none;
}
a:visited{
  color: #D32323;
  text-decoration: none;
}

 /* buttons */
 .block-btn {
   width: 60%;
   border: none;
   color: black;
   padding: 14px 28px;
   left: 50%;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
   border: 1px solid gray;
   background-color: #BEBEBE;
   font-weight: bold;
 }
 .block-btn:hover{
   opacity: 0.75;
 }
 #facebook{
   background-color: #1877F2;
   color: white;
 }
 #google{
   background-color: white;
   color: black;
 }
 #google:hover{
   background-color: #E0E0E0;
   color: black;
 }
 #apple, #git-hub{
   background-color: black;
   color: white;
 }
 #customer_email, #customer_password, #customer_name, #customer_state, #customer_city{
   width: 60%;
   padding: 7px 28px;
   font-size: 16px;
   text-align: left;
 }
 #btn-default{
   width: 60%;
   padding: 7px 28px;
   font-size: 16px;
   color: white;
 }
 .submit-btn {
   width: 40%;
   border: none;
   color: black;
   padding: 7px 14px;
   left: 50%;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
   border: 1px solid gray;
   background-color: #BEBEBE;
   font-weight: bold;
 }
 .submit-btn:hover{
   opacity: 0.75;
 }

 /* footer */
  .footer {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 14px 16px;
    bottom: 0;
    left:0;
    background-color: #D32323;
    text-align: center;
    color: white;
 }
 .out-btn {
   background-color: #D32323;
   color: white;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }
 .out-btn:hover{
   color: #191919;
   cursor: pointer;
 }

 /* form buttons */
 .form-submit-btn {
   background-color: #D32323;
   color: white;
   border: none;
   text-align: center;
   padding: 10px 20px;
   text-decoration: none;
   font-size: 17px;
 }
 .form-submit-btn:hover {
   background-color: #a81c1c;
   color: white;
   cursor: pointer;
 }
 .form-submit-btn:visited {
   color: white;
 }
 .form-submit-btn.active {
   background-color: #4CAF50;
   color: white;
 }

 /* errors */

/* .field-with-errors{
   background-color: red
 }*/

 .error-message{
   color: red;
   font-style: italic;
 }
