// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  text-align: left;

/* section header */
}
section.current-user-block{
  padding: 40px;
  background-color: #F5F5F5;
  height: 400px;
}
img#profile-pic {
  padding: .5em;
  float: left;
}

/* my profile - reviews */
.options-block{
  padding: 40px;
  background-color: #191919;
  height: 200px;
  color: white;
  text-align: center;
}
a.options-url {
  text-decoration: none;
}
.options-btn{
     width: 60%;
     border: none;
     padding: 14px 28px;
     background-color: #F5F5F5;
     color: black;
     font-weight: bold;
}
.options-btn:hover{
  opacity: 0.75;
  background-color: #E0E0E0;
  color: black;
  cursor: pointer;
}

/* form */
.form-section{
  width: 50%;
  padding-top: 20px;
  padding-left: 20px;
}
.form-label{
  font-weight: bold;
}
.form-input, #customer_location {
  width: 60%;
  padding: 4px 4px;
  font-size: 16px;
  text-align: left;
}
.delete-acct-btn{
  color: #D32323;
  border: none;
  padding: 10px 15px;
  background-color: white;
  font-weight: bold;
}
.delete-acct-btn:hover{
  color: #191919;
  cursor: pointer;
}

.edit-profile-link{
  float:right;
  font-weight: bold;
}
