// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.division {
  border-radius: 25px;
  border: 2px solid #191919;
  padding: 20px;
  height: 175px;
}
.review-picture {
  width:90px;
  height:90px;
  margin-left:15px;
  float: left;
  padding: 2px;
}

/* form - review-content */
.form-review-content{
  width: 60%;
  padding: 4px 4px;
  font-size: 16px;
  text-align: left;
  display: block;
  overflow: hidden;
  resize: both;
  min-height: 25px;
  line-height: 25px;
}
