// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reviewer-block {
  padding: 40px;
  background-color: #F5F5F5;
  height: 200px;
}
.review {
  border-radius: 25px;
  border: 2px solid #191919;
  padding: 20px;
  height: 175px;
}
.review-picture {
  width:80px;
  height:80px;
  margin-left:15px;
  float: left;
  padding: 2px;
}
