// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.row {
  box-sizing: border-box;
  text-align: center
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 450px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
