// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1#home{
  font-size: 75px;
  text-align: center;
  padding-top: 225px;
  font-variant: small-caps;
}
.myDiv {
    position: relative;
    z-index: 1;
}
div.static{
  position: absolute;
  z-index: -1;
  background-image: url("https://www.sftravel.com/sites/sftravel.prod.acquia-sites.com/files/field/image/fog.jpg");
  opacity: 0.4;
  height: 550px;
  width: 100%;
}
