<% @reviews.each do |r| %>
  <div class="division">
    <p class="business-url"><img class="review-picture" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="OctoCat"><strong>  <%= link_to r.business.name, business_path(r.business) %></strong><br>
      Rating: <%= r.rating %></p>
    <p><%= r.content %></p>

      <% if current_user == @customer %>
        <div class="url-edit"><%= link_to "Edit", edit_customer_review_path(current_user, r) %></div>
      <% end %>

  </div><br>
<% end %>
