<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="review.scss">
    </style>
  </head>
  <body>
    <section class="top-block">
      <div>
        <h1>Changed your mind? </h1>
        <p> Edit your review of <%= @review.business.name %>. </p>
      </div>
    </section>

    <%= render 'reviews_edit' %>

    <div class= "edit-page-btn">
      <%= form_tag review_path(@review), :method => 'delete' do %> 
        <%= submit_tag "Delete Review", :class => 'delete-acct-btn' %> 
      <% end %>
    </div>

    <div class="push"></div>

  </body>
</html>
