<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="reviews.scss">
    </style>
  </head>
<body>

  <section class="reviewer-block">
    <div>
      <%= render 'reviews' %>
    </div>
  </section>

  <container>
  <% @reviews.each do |r| %>
    <div class="review">
      <p><img class="review-picture" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="OctoCat"><strong>  <%= link_to r.business.name, business_path(r.business) %></strong><br>
        Rating: <%= r.rating %></p>
      <p><%= r.content %></p>
    </div>
    <br>
  <% end %>
  </container>
  
  </body>
</html>
