<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="reviews.scss">
    </style>
  </head>
<body>

  <section class="top-block">
    <div>
      <%= render 'reviews_header' %>
    </div>
  </section>

  <container>
    <%= render 'reviews_list' %>
  </container>

  <div class="push"></div>

  </body>
</html>
