<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="reviews.scss">
    </style>
  </head>
  <body class="columns-align">

    <section class="top-block">
      <div>
        <h1>Tell us about <%= @business.name %>.</h1>
        <p> Write a review. </p>
      </div>
    </section>

    <p class="field-with-errors"><%= flash[:message] if flash[:message] %></p>

    <%= render 'new_form' %>

    <div class="push"></div>

  </body>
</html>
